@import "materialize.scss";

html, body, div.entire-app {
		height: 100%;
}

div.sidebar {
		position: absolute;
}

div.row.content {
		height: 100%;
}

a.brand-logo {
		color: $secondary-color-light;
}

nav {
		background-color: $primary-color-dark;
}

div.sidebar {
		background-color: $primary-color;
		height: 100%;
}

a.nav {
		color: $secondary-color-light;
}

path {
		&.down {
				stroke: $success-color;
		}
		&.up {
				stroke: $error-color;
		}
}

svg {
		background-color: color("blue", "lighten-5");
		@extend .z-depth-1;
}

path {
		stroke-width: 1;
		fill: none;
}

main {
		height: 100%;
		min-height: 100px;
}

html, body {
		height: 100%;
}

div.new-download-form-container {
		@extend .z-depth-5;
		&.hidden {
				height: 0px;
				visibility: hidden;
				* {
						visibility: none;
						opacity: 0;
				}
		}
		* {
				transition: opacity 0.5s ease;
		}
		height: 400px;
		transition: visibility 0s linear, height 0.2s ease, opacity 0.1s ease;
}

textarea.new-download-textarea {
		min-height: 200px;
}

div.filter-selectors {
		@extend .z-depth-2;
		background-color: white;
}

a.pause-btn {
		background-color: $secondary-color-dark;
		height: 100%;
		@extend .z-depth-1;
		i {
				font-size: 1rem;
		}
}

a.stop-btn {
		background-color: $secondary-color-dark;
		height: 100%;
		@extend .z-depth-1;
		i {
				font-size: 1rem;
		}
}

a.play-btn {
		background-color: $secondary-color-dark;
		height: 100%;
		@extend .z-depth-1;
		i {
				font-size: 1rem;
		}
}

div.download-even {
		background-color: $secondary-color;
}
div.download-odd {
		background-color: $secondary-color-light;
}

div.download-item {
		margin-bottom: 0;
		z-index: 2;
}

div.download-progress {
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
		@extend .z-depth-0;
		&.even {
				background-color: $primary-color;
				div.download-completed-progress {
						background-color: $primary-color-light;
				}
		}
		&.odd {
				background-color: $secondary-color;
				div.download-completed-progress {
						background-color: $secondary-color-light;
				}
		}
		z-index: 0;
}

div.download-completed-progress {
		@extend .z-depth-1;
		z-index: 1;
}

div {
		z-index: 3;
}